@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    height: 80px;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    background-color: #fffffff8;
    border-bottom: 2px solid #c4c4c4;
    position: fixed;
    left: 0;
    right: 0;
    margin-bottom: 100px;
}

#logo{
    width: 64px;
}

.area-logo{
    display: flex;
    align-items: center;
    position: absolute;
    gap: 1rem;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    color: black;
}

.area-logo span{
    font-weight: bold;
    font-size: 2rem;;
}

.menu {
    display: flex;
    position: absolute;
    gap: 20px;
    right: 20px;
}

.menu img{
    display: none;
}

#login {
    padding: 8px 30px;
    border-radius: 20px;
    background-color: transparent;
    color: black;
    background-color: white;
    border: 2px solid black;
    transition: all ease 0.3s;
}

#login a {
    color: inherit;
    text-decoration: none;
    border: 0;
}

#login:hover{
    background-color: black;
    color: white;
}

.navegation-filter a {
    padding: 5px 20px;
    border: 1px solid white;
    border-radius: 20px;
    gap: 10px;
    display: flex;
    align-items: center;
    color: white;
}

.navegation-filter a.active{
    background-color: white;
    color: black;
}
a.active svg{
    stroke: black;
}

.navegation-filter{
    display: flex;
    justify-content: center;
    flex: 1;
}

.navegation-filter ul{
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1.8rem;
    position: relative;
}

li a {
    color: black;
    text-decoration: none;
    transition: all ease 0.3s;
    border: 1px solid transparent;
    display: inline-block;
}

li a:hover{
    font-weight: 600;
    transform: translateY(-5px);
    background-color: white;
    color: black;
}

.mainHome{
    background-image: url('images/background.jpg');
    background-size: 100%;
    filter: blur(100);
    padding-top: 20px;
    min-height: 83.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#searchGame{
    padding: 8px 20px;
    border-radius: 20px;
    border: 1px solid black;
}

#search {
    cursor: pointer;
}

#select-genre,
#more-filters{
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 40px;
    padding-bottom: 8px;
    border-radius: 20px;
    appearance: none;
    outline: none;
}

.mainPrincipal{
    padding-top: 110px;
    background-color: rgb(15, 15, 15);
    min-height: 100vh;
}

.game {
    width: 100%;
    border-radius: 10px;
    margin: 20px 0;
    transition: all ease 0.5s;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
}

.game-area {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    justify-content: center;
    column-gap: 50px;
    flex-wrap: wrap;
    padding: 0px 80px;
    margin-top: 20px;
}

.logo-game{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 2px 4px gray;
    position: relative;
}

.logo-game img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.title-game{
    font-size: 2rem;
    margin-top: 5px;
}

.nameAndAvaliation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.avaliation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avaliation{
    font-size: 1.6rem;
}

.moreInfos {
    display: flex;
    justify-content: space-between;
    color: white;
}

.generAndEnterprise{
    display: flex;
    flex-direction: column;
}

.about-game{
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-game span {
    font-weight: 600;
    font-size: 1.4rem;
}

.arrow {
    transform: rotate(180deg);
    transition: transform ease 0.5s;
    cursor: pointer;
}

.rotateArrow {
    transform: rotate(360deg)
}

.moreInfo{
    margin-top: 20px;
    transition: all ease 0.5s;
}

.game-description{
    font-size: 1.4rem;
}

.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.visible {
    max-height: 500px; /* Ajuste conforme necessário */
    opacity: 1;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.underImage{
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    opacity: 0;
    position: absolute;
    border-radius: 10px;
    transition: all ease 0.2s;
    align-items: center;
    justify-content: center;
    top: 0;
}

.logo-game:hover .underImage{
    opacity: 1;
}

.downloadButton{
    background-color: white;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    transition: all ease-out 0.3s;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.downloadButton:hover{
    background-color: green;
    color: white;
}

.downloadButton:hover .download{
    fill: white;
}

.title{
    text-align: center;
    font-size: 5rem;
    color: white;
}
.subtitle{
    text-align: center;
    font-size: 1.8rem;
    color: gray;
}

.search-area{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search-area img{
    margin-left: 0.5rem;
    margin-right: 2rem;
}

.search-area .filter{
    display: inline-block;
    margin-left: -35px;
}

.search-area div {
    display: flex;
    align-items: center;
}

.search-area .filters{
    margin-top: 20px;
}

.apresentation{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.apresentation a {
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    font-size: 1.6rem;
    position: absolute;
    bottom: 15rem;
    transition: all ease-out 0.3s;
}

.apresentation a:hover {
    background-color: black;
    color: white;
    transform: translateY(-1rem);
}

.erro {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    color: white;
}

@media (max-width: 768px) {
    .game-area {
        grid-template-columns: repeat(2, minmax(150px, 1fr)); /* Duas colunas com largura mínima de 150px */
        padding: 0 40px; /* Ajuste o padding se necessário */
    }
}

/* Para telas ainda menores, como smartphones */
@media (max-width: 480px) {
    .game-area {
        grid-template-columns: repeat(1, minmax(150px, 1fr)); /* Uma coluna com largura mínima de 150px */
        padding: 0 20px; /* Ajuste o padding se necessário */
    }

    .menu img {
        display: block;
    }
}