@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header-home{
    height: 8rem;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: #fffffff8;
    border-bottom: 0.2rem solid #c4c4c4;
    position: fixed;
    left: 0;
    right: 0;
    margin-bottom: 10rem;
}

header {
    height: 8rem;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: #fffffff8;
    border-bottom: 0.2rem solid #c4c4c4;
    position: fixed;
    left: 0;
    right: 0;
    margin-bottom: 10rem;
}

#logo {
    width: 6.4rem;
}

.area-logo {
    display: flex;
    align-items: center;
    position: absolute;
    gap: 1rem;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    color: black;
}

.area-logo span {
    font-weight: bold;
    font-size: 2.5rem;
}

.menu {
    display: flex;
    position: absolute;
    gap: 2rem;
    right: 2rem;
}

#login {
    padding: 0.8rem 3rem;
    border-radius: 2rem;
    background-color: transparent;
    color: black;
    background-color: white;
    border: 0.2rem solid black;
    transition: all ease 0.3s;
}

#login a {
    color: inherit;
    text-decoration: none;
    border: 0;
}

#login:hover {
    background-color: black;
    color: white;
}

.navegation-filter a {
    padding: 0.5rem 2rem;
    border: 0.1rem solid white;
    border-radius: 2rem;
    gap: 1rem;
    display: flex;
    align-items: center;
    color: white;
}

.navegation-filter a.active {
    background-color: white;
    color: black;
    font-weight: 600;
}

a.active svg {
    stroke: black;
}

.filters {
    display: flex;
    align-items: center;
    overflow: auto;
    gap: 3rem;
    padding: 0 2rem;
    margin-top: 2rem;
    justify-content: center;
}

.filters::-webkit-scrollbar{
    display: none;
}

.filters div{
    display: flex;
}

.filters .filter{
    margin-left: -3.5rem;
}

.navegation-filter {
    display: flex;
    justify-content: center;
    flex: 1;
}

.navegation-filter ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.8rem;
    position: relative;
}

li a {
    color: black;
    text-decoration: none;
    transition: all ease 0.3s;
    border: 0.1rem solid transparent;
    display: inline-block;
}

li a:hover {
    font-weight: 600;
    transform: translateY(-0.5rem);
    background-color: white;
    color: black;
}

.main-home {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(100);
    padding-top: 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.apresentation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
}

.apresentation a {
    color: black;
    text-decoration: none;
    background-color: white;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    font-size: 1.6rem;
    position: absolute;
    bottom: 15rem;
    transition: all ease-out 0.3s;
}

.apresentation a:hover{
    color: white;
    transform: translateY(-0.5rem);
    background-color: black;
    font-weight: 600;
}

#search {
    cursor: pointer;
}

#select-genre,
#more-filters {
    padding-top: 0.8rem;
    padding-left: 2rem;
    padding-right: 4rem;
    padding-bottom: 0.8rem;
    border-radius: 2rem;
    appearance: none;
    outline: none;
    background-color: transparent;
    color: white;
    border: 0.1rem solid white;
}

#select-genre option,
#more-filters option{
    background-color: black;
    color: white;
}

#select-genre option:hover,
#more-filters option:hover{
    background-color: white;
    color: black;
}

.main-principal {
    padding-top: 11rem;
    background-color: rgb(15, 15, 15);
    min-height: 100vh;
}

.game {
    width: 100%;
    border-radius: 1rem;
    margin: 2rem 0;
    transition: all ease 0.5s;
    display: flex;
    flex-direction: column;
    position: relative;
    color: white;
}

.game-area {
    display: grid;
    grid-template-columns: repeat(3, minmax(20rem, 1fr));
    justify-content: center;
    column-gap: 5rem;
    flex-wrap: wrap;
    padding: 0 8rem;
    margin-top: 2rem;
}

.logo-game {
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem gray;
    transition: all ease-in 0.3s;
    position: relative;
}

.logo-game:hover {
    box-shadow: 0 0 1rem gray;
}

.logo-game img {
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
}

.title-game {
    font-size: 2rem;
}

.name-and-avaliation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.avaliation {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avaliation {
    font-size: 1.6rem;
}

.moreInfos {
    display: flex;
    justify-content: space-between;
    color: white;
}

.generAndEnterprise {
    display: flex;
    flex-direction: column;
}

.about-game {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about-game span {
    font-weight: 600;
    font-size: 1.4rem;
}

.arrow {
    transform: rotate(180deg);
    transition: transform ease 0.5s;
    cursor: pointer;
}

.rotateArrow {
    transform: rotate(360deg)
}

.moreInfo {
    margin-top: 2rem;
    transition: all ease 0.5s;
}

.game-description {
    font-size: 1.4rem;
}

.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.visible {
    max-height: 50rem;
    /* Ajuste conforme necessário */
    opacity: 1;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.underImage {
    width: 100%;
    height: 20rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    opacity: 0;
    position: absolute;
    border-radius: 1rem;
    transition: all ease 0.2s;
    align-items: center;
    justify-content: center;
    top: 0;
}

.logo-game:hover .underImage {
    opacity: 1;
}

.download-button {
    background-color: white;
    border-radius: 2rem;
    padding: 0.8rem 2rem;
    transition: all ease-out 0.3s;
    text-decoration: none;
    font-size: 1.4rem;
    color: black;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.download-button:hover {
    background-color: green;
    color: white;
}

.download-button:hover .download {
    fill: white;
}

.title {
    text-align: center;
    font-size: 5rem;
    color: white;
    padding: 0 2rem;
}

.subtitle {
    text-align: center;
    font-size: 1.8rem;
    color: rgb(196, 196, 196);
    padding: 0 2rem;
    font-weight: normal;
}

.search-area {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.search-area .filter {
    display: inline-block;
    margin-left: -3.5rem;
}

.search-area div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search-area #search-game{
    background-color: transparent;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    border: 0.1rem solid white;
    color: white;
    outline: none;
    transition: all ease 0.3s;
}

#search-game::placeholder{
    color: white;
}

#search-game:focus{
    transform: scale(1.05);
    box-shadow: 0 0 1rem rgb(187, 187, 187);
}

.search-area .filters {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.erro {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    color: white;
    font-size: 3.5rem;
    text-align: center;
}

.erro img{
    max-width: 70rem;
}

footer {
    padding: 1.5rem;
    font-size: 1.6rem;
    background-color: #fffffff8;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: black;
    transition: font-weight ease 0.3s, transform ease 0.3s;
}

footer div{
    display: inline-flex;
    border-bottom: 0rem solid black;
    gap: 1rem;
    transition: all ease 0.3s;
    margin-top: 0.5rem;
    font-size: 2.2rem;
}

footer:hover div{
    border-bottom: 0.1rem solid black;
    transform: translateY(-0.5rem);
}

@media (max-width: 768px) {

    .title{
        font-size: 4rem;
    }

    .subtitle{
        font-size: 1.6rem;
    }


    .apresentation a {
        bottom: 4rem;
    }

    .filters {
        display: flex;
        align-items: center;
        overflow: auto;
        padding: 0 2rem;
        margin-top: 2rem;
    }

    .filters div{
        display: flex;
    }

    .filters .filter{
        margin-left: -3.5rem;
    }

    .game-area {
        grid-template-columns: repeat(2, minmax(15rem, 1fr));
        padding: 0 4rem;
    }
}

@media (max-width: 480px) {

    .title{
        font-size: 3.5rem;
    }

    .subtitle{
        font-size: 1.4rem;
    }

    .apresentation a {
        bottom: 12rem;
    }

    .area-logo span {
        display: none;
    }

    .navegation-filter {
        overflow: auto;
        margin-top: 1rem;
        justify-content: normal;
        padding: 0 2rem;
        scrollbar-width: none;
    }

    .navegation-filter::-webkit-scrollbar {
        display: none;
    }

    .filter-area {
        display: flex;
        flex-direction: column-reverse;
    }

    .filter-area .navegation-filter {
        order: 1;
        margin-top: 2rem;
    }

    .filter-area .search-area {
        order: 2;
        margin-top: 1rem;
    }

    .filters {
        display: flex;
        align-items: center;
        overflow: auto;
        padding: 0 2rem;
        margin-top: 2rem;
    }

    .filters div{
        display: flex;
    }

    .filters .filter{
        margin-left: -3.5rem;
    }

    li a:hover{
        transform: translateY(0rem);
        font-weight: normal;
        background-color: transparent;
        color: white;
    }

    .game-area {
        grid-template-columns: repeat(1, minmax(15rem, 1fr));
        padding: 0 2rem;
    }

    .moreInfos{
        flex-direction: column;
    }

    .about-game{
        margin-top: 1rem;
        justify-content: right;
    }

    footer a{
        text-decoration: none;
        color: black;
        transition: font-weight ease 0.3s, transform ease 0.3s;
    }
}